body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
i, button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3,
p {
  margin: 0;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header */
.page-header {
  border-bottom: 1px solid gray;
}
.header-content {
  width: 100%;
}
.header-logo {
  width: 80px;
  margin-left: 0;
}
.header-nav,
.header-social {
  padding-left: 0;
}
.header-nav li {
  padding: 20px 20px;
}
.header-nav li a:hover {
  color: green;
}
.header-nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.header-social li {
  padding: 20px 20px;
}
/* Main */
.page-main {
  min-height: calc(110vh - 15rem);
}
.app-logo {
  width: 400px;
}
.cricle {
  margin: 10px 20px;
}
.countdown button {
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #198754;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 6px 10px;
}
.navigator {
  padding: 20px;
}
.navigator button {
  margin: auto 10px;
  color: white;
  background-color: lightsalmon;
  text-transform: uppercase;
  padding: 10px 10px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navigator button:hover {
  background-color: lightcoral;
}
.navigator button:active {
  background-color: lightcoral;
}
/* Ex-3 List Item */
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}
.item-background {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.item-content {
  width: 400px;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.item-title {
  margin-bottom: 5px;
}
.item-subTitle {
  font-size: 12px;
}
.ic_delete {
  justify-self: flex-start;
}
/* Register Form  */
input[type="password"],
input[type="text"],
input[type="email"],
select,
textarea {
  border: 1px solid transparent;
  background: #fff;
  border-radius: 4px;
  height: 36px;
  width: 100%;
  padding: 10px;
}
input[type="password"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="number"]:hover,
select:hover,
textarea:hover {
  border: 1.5px solid #3c9ccb;
}
textarea {
  height: 100px;
}
.form-group > label {
  color: white;
  display: block;
  margin-bottom: 5px;
}
.form-group {
  margin-bottom: 15px;
}
/* Radio */
.radio-group > label {
  color: white;
  margin-right: 10px;
}

.form-register h2 {
  color: white;
  text-transform: uppercase;
}
.form-register {
  padding: 20px;
  padding-top: 0;
  border-radius: 8px;
  text-align: left;
  background: linear-gradient(to top right, #3c9ccb, #85caba);
  margin-bottom: 20px;
  margin-right: 20px;
  width: 30%;
}
/* Table  */

table {
  border-collapse: collapse;
}
table thead {
  background-color: #85caba;
  color: #fff;
  text-transform: uppercase;
}
table th,
table td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}
table tbody tr {
  background: linear-gradient(to top, #3c9ccb, #85caba);
}
tbody tr:nth-of-type(even) {
  background: linear-gradient(to bottom, #3c9ccb, #85caba);
}
tbody tr:nth-of-type(2) {
  text-align: left;
}
thead > tr:last-of-type > th:nth-of-type(1),
thead > tr:last-of-type > th:nth-of-type(2) {
  width: 82px;
}
tbody tr td:nth-of-type(2),
tbody tr td:nth-of-type(6) {
  text-align: left;

  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.avatar{
  width: 40px;
  height: 40px;
  margin: auto;
}

.avatar >img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.pagination{
  display: block;
  margin: 10px;
  padding: 0;
}
.pagination-item{
  display: inline-block;
  padding: 15px 10px;
  
}
.pagination-item button{
  color: #212529;
  background-color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;

}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.pagination-item .active{
  background-color: #4CAF50;
  color: white;
}

/* Footer */
.page-footer {
  border-top: 1px solid gray;
}

/* Common */
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-center-align {
  align-items: center;
}
.flex-center-justify-content {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-outline-primary {
  padding: 10px;
  background: transparent;
  font-weight: bold;
  border: 1px solid white;
  color: white;
  width: 100%;
  border-radius: 4px;
}
.width-100 {
  width: 100%;
}
