body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3,
p {
  margin: 0;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header */
.page-header {
  border-bottom: 1px solid gray;
}
.header-content {
  width: 100%;
}
.header-logo {
  width: 80px;
  margin-left: 0;
}
.header-nav,
.header-social {
  padding-left: 0;
}
.header-nav li {
  padding: 20px 20px;
}
.header-nav li a:hover {
  color: green;
}
.header-nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.header-social li {
  padding: 20px 20px;
}
/* Main */
.page-main {
  min-height: calc(110vh - 15rem);
}
.app-logo {
  width: 400px;
}
.cricle {
  margin: 10px 20px;
}
.countdown button {
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #198754;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 6px 10px;
}
.navigator {
  padding: 20px;
}
.navigator button {
  margin: auto 10px;
  color: white;
  background-color: lightsalmon;
  text-transform: uppercase;
  padding: 10px 10px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navigator button:hover {
  background-color: lightcoral;
}
.navigator button:active {
  background-color: lightcoral;
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}
.item-background {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.item-content {
  width: 400px;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.item-title {
  margin-bottom: 5px;
}
.item-subTitle {
  font-size: 12px;
}
.ic_delete {
  justify-self: flex-start;
}
/* Footer */
.page-footer {
  border-top: 1px solid gray;
}

/* Common */
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-center-align {
  align-items: center;
}
.flex-center-justify-content {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.btn {
  pointer-events: none;
  filter: none;
  opacity: 0.65;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
